<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-pic d-flex pb-5" data-tilt>
                <img src="../assets/template/images/logo1.png" alt="IMG">
            </div>

            <form (submit)="submit()" [formGroup]="form" class="login100-form validate-form" [class.show-form-error]="showFormError">
                <span class="login100-form-title">
                    Kadar Tol PLUS
                </span>

                <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                    <div class="input-field">
                        <mat-select class="form-control" name="from" [placeholder]="'Pilih Plaza Masuk'" formControlName="from">
                            <mat-option *ngFor="let plaza of plazas" [value]="plaza.value">
                                {{ plaza.name }}
                            </mat-option>
                        </mat-select>
                    </div>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                    <div class="input-field">
                        <mat-select class="form-control" name="to" [placeholder]="'Pilih Plaza Keluar'" formControlName="to">
                            <mat-option *ngFor="let plaza of plazas" [value]="plaza.value">
                                {{ plaza.name }}
                            </mat-option>
                        </mat-select>
                    </div>
                </div>

                <div class="alert alert-danger" role="alert" 
                    *ngIf="showFormError && (!form.value.from || !form.value.to)">
                    Sila pilih Plaza Masuk dan Plaza Keluar.
                </div>

                <div class="container-login100-form-btn">
                    <button type="submit" class="login100-form-btn" 
                        [disabled]="!form.value.from || !form.value.to">
                        Semak
                    </button>
                </div>

                <div class="alert alert-primary mt-5" role="alert" *ngIf="tol?.kadar">
                    Kadar tol : RM {{ tol.kadar }}
                  </div>
            </form>
        </div>
    </div>
</div>